*{
    font-family: "Ponnala", system-ui;
}
/* Nav-Bar */
.nav-bar{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left-bar{
    width: 45%;
    height: 100%;
}
.right-bar{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    width:30%;
    height: 100%; 
}
.a-elements{
    text-decoration: none;
    font-size: 18px;
    color: black;
    transition: transform 0.5s;
}
.nav-btn, .btn{
    width: 130px;
    height: 50px;
    padding-top: 10px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    text-align: center;
    background-color: #1090CB;
    color: #FFFFFF;
    transition: transform 0.5s;
    cursor: pointer;
}

.a-elements:hover:visited{
    color: #1090CB;  
}
.a-elements:hover{
    transform: scale(1.1);
}
.nav-btn:hover{
    transform: scale(1.05);
}